@model List<Template.Web.Features.History.HistoryViewModel>
@{
    ViewData["Title"] = "Storico delle richieste";
}

<div class="container">

    <head>
        <link rel="stylesheet" href="/css/History.css"/>
    </head>


    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="title-center">@ViewData["Title"]</h1>
    </div>

    <div class="info mb-4">
        <p><strong>Nome:</strong> @Model.FirstOrDefault()?.Nome</p>
        <p><strong>Nome Team:</strong> @Model.FirstOrDefault()?.NomeTeam</p>
        <p><strong>Ruolo:</strong> @Model.FirstOrDefault()?.Ruolo</p>
        <p><strong>Indirizzo e-mail:</strong> @Model.FirstOrDefault()?.Email</p>
    </div>

    @if (Model != null && Model.Any())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Data della richiesta</th>
                    <th>Tipologia</th>
                    <th>Data inizio</th>
                    <th>Data fine</th>
                    <th>Durata</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@(item.DataRichiesta?.ToString("dd/MM/yyyy") ?? "N/A")</td>
                        <td>@(string.IsNullOrEmpty(item.Tipologia) ? "N/A" : item.Tipologia)</td>
                        <td>@(item.DataInizio?.ToString("dd/MM/yyyy") ?? "N/A")</td>
                        <td>@(item.DataFine?.ToString("dd/MM/yyyy") ?? "N/A")</td>
                        <td>@(string.IsNullOrEmpty(item.Durata) ? "N/A" : item.Durata)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="no-request-message">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Data della richiesta</th>
                        <th>Tipologia</th>
                        <th>Data inizio</th>
                        <th>Data fine</th>
                        <th>Durata</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="5" class="text-center no-request-message">Non ci sono richieste passate.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
</div>